IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_BDevTasks_BDevEmployees]') AND parent_object_id = OBJECT_ID(N'[dbo].[BDevTasks]'))
ALTER TABLE [dbo].[BDevTasks] DROP CONSTRAINT [FK_BDevTasks_BDevEmployees]
GO
/****** Object:  Table [dbo].[BDevUsers]    Script Date: 2/20/2017 8:34:22 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BDevUsers]') AND type in (N'U'))
DROP TABLE [dbo].[BDevUsers]
GO
/****** Object:  Table [dbo].[BDevTasks]    Script Date: 2/20/2017 8:34:22 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BDevTasks]') AND type in (N'U'))
DROP TABLE [dbo].[BDevTasks]
GO
/****** Object:  Table [dbo].[BDevEmployees]    Script Date: 2/20/2017 8:34:22 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BDevEmployees]') AND type in (N'U'))
DROP TABLE [dbo].[BDevEmployees]
GO
/****** Object:  Table [dbo].[BDevEmployees]    Script Date: 2/20/2017 8:34:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BDevEmployees]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BDevEmployees](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Type] [int] NOT NULL,
	[Image] [image] NOT NULL,
 CONSTRAINT [PK_BDevEmployee] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[BDevTasks]    Script Date: 2/20/2017 8:34:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BDevTasks]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BDevTasks](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[AssignedTo] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_BDevTasks] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[BDevUsers]    Script Date: 2/20/2017 8:34:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BDevUsers]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BDevUsers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_BDevUsers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[BDevEmployees] ON 

SET IDENTITY_INSERT [dbo].[BDevEmployees] OFF
SET IDENTITY_INSERT [dbo].[BDevTasks] ON 

INSERT [dbo].[BDevTasks] ([ID], [Title], [Description], [AssignedTo], [Status]) VALUES (1, N'Add the create button 2', N'The client suggested to add it because of internal purposes', 2, 4)
INSERT [dbo].[BDevTasks] ([ID], [Title], [Description], [AssignedTo], [Status]) VALUES (2, N'Add the delete button #2', N'It''s necessary to delete the selected records, please add it to the crud screen', 2, 4)
INSERT [dbo].[BDevTasks] ([ID], [Title], [Description], [AssignedTo], [Status]) VALUES (3, N'Test create button', N'Validate create test cases', 4, 3)
SET IDENTITY_INSERT [dbo].[BDevTasks] OFF
SET IDENTITY_INSERT [dbo].[BDevUsers] ON 

INSERT [dbo].[BDevUsers] ([ID], [Username], [Password]) VALUES (1, N'DiegoC', N'123456')
SET IDENTITY_INSERT [dbo].[BDevUsers] OFF
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_BDevTasks_BDevEmployees]') AND parent_object_id = OBJECT_ID(N'[dbo].[BDevTasks]'))
ALTER TABLE [dbo].[BDevTasks]  WITH CHECK ADD  CONSTRAINT [FK_BDevTasks_BDevEmployees] FOREIGN KEY([AssignedTo])
REFERENCES [dbo].[BDevEmployees] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_BDevTasks_BDevEmployees]') AND parent_object_id = OBJECT_ID(N'[dbo].[BDevTasks]'))
ALTER TABLE [dbo].[BDevTasks] CHECK CONSTRAINT [FK_BDevTasks_BDevEmployees]
GO
